body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 2%, 12%, 0.5);
}

.container{
    border: 2px solid hsla(350, 98%, 55%, 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(220, 20, 60, 0.5);
    margin-top: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(300deg, hsla(0, 0%, 0%, 0.959), hsla(0, 0%, 9%, 0.712));;
    padding: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    
}

h1{
    font-family: monospace;
    color: greenyellow;
    font-weight: bold;
    font-size: 3.5rem;
}

label{
    font-family: monospace;
    font-size: 1.5rem;
    color: hsla(0, 100%, 50%, 0.5);
    font-weight: bold;
    padding-bottom: 50px;
}

.pwdInput{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid hsla(236, 100%, 48%, 0.5);
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    color: hsl(240, 94%, 19%);
    font-family: monospace;
}

.pwdInput:hover{
    border: 2px solid hsla(115, 100%, 48%, 0.9);
}

button[type="submit"]{
    padding: 3px 5px;
    font-weight: bold;
    font-size: 1rem;
    background-color: hsla(241, 96%, 55%, 0.795);
    color: rgb(5, 177, 28);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"]:hover{
    color: red;
    border-color: greenyellow;
    border: 1px solid;

}


.result {
    display: none; 
    margin-top: 30px;
    text-align: left; 
    min-width: 250px;
}

.result p {
    font-family: monospace;
    font-weight: bold;
    margin: 10px 0;
}
